.container {
	vertical-align: top;
}

.update-time {
	color: gray;
	padding-left: 100px;
}

.columns {
	-moz-column-width: 270px;
	-moz-column-fill: balance;
	-webkit-column-width: 270px;
	-webkit-column-fill: balance;
	column-width: 270px;
	column-fill: balance;
}

.machine {
	vertical-align: top;
	width: 260px;
	border: 1px solid black;
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
	cursor: default;

	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	color: black;
}

.title {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	background-color: lightgray;
	border-bottom: 1px solid gray;
}

.label {
	float: left;
}

.value {
	text-align: right;
}

.load_value0 {
	text-align: right;
}
.load_value1 {
	text-align: right;
	float: right;
	padding-left: 10px;
}
.load_value2 {
	text-align: right;
	float: right;
	padding-left: 10px;
}

.inside {
	padding-left: 5px;
	padding-right: 5px;
}

.inside:hover {
	background: rgba(0, 0, 0, .1);
}

.offline {
	background-color: #AAA;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
	padding: 5px;
}

.disk-header {
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px solid gray;
	background-color: #EEE;
}
