body {
    font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.5;
    color:#cfd2da;
    background-color:#252830;
    padding-top:30px
}

.container-fluid {
    padding:0 40px
}

.row {
  margin: 0;
  -moz-column-width: 260px;
  -moz-column-fill: balance;
  -webkit-column-width: 260px;
  -webkit-column-fill: balance;
  column-width: 260px;
  column-fill: balance;
}

.machine {
    /*margin-bottom:0*/
}

.machine {
  width: 260px;
  vertical-align: top;

/*  position: relative;
  min-height: 1px;*/
  padding-right: 15px;
  padding-left: 15px;
  padding: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.title,.title.panel-heading {
    display:block;
    padding:10px 15px;
    margin-bottom:-1px;
    font-weight:400;
    color:#fff;
    background-color:transparent;
/*border: 1px solid #434857;*/
    border-color:#434857;
    text-transform:uppercase
}

.title.panel-heading h4 {
    margin:0
}

/*.title:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}*/
.list-group-heading {
    text-transform:uppercase;
    padding:0px 10px;
    font-size:80%;
    font-weight:700;
    background:#434857;
    margin-bottom:-1px
}

.percent-used {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:-1;
    display:block;
    background-color:#191E27;
 /*   border-bottom: 1px solid #434857;
    border-right: 1px solid #434857;
    border-top: 1px solid #434857;
    margin-bottom: -1px;*/
}

/*.list-group-item:nth-child(2n+1) .percent-used {
  background: #2E3748;
}
*/
.medium {
/*background: #e4d836;*/
background: #FFF9A7;
background: #262719;
background: rgba(255, 249, 167, .9);

}

.high {
    background:#e64759
}

.bg-green {
    background:#1bc98e
}

.list-item,.list-group-item {
    color:#cfd2da;
/*position: relative;
    display: block;
    padding: 10px 15px;*/
margin-bottom: -1px;
    background-color:transparent;
    border:1px solid #434857;
    /*border: 1px solid #252830;*/
    padding:2px 10px;
    /*border:none;*/
    font-size:12px;
    /*margin-bottom:0;*/
    padding-right: 5px;
}

.list-group-item.medium {
    /*color:#e4d836;*/
/*  color: #FFF;
  color: #333;*/
    font-weight:700;
    /*color:#f1c40f*/
    color: #363636;
}

/*.list-group-item.medium .value {
    color: #363636;
    background: rgba(37, 40, 48, 0.7);
    color: white;
}

.list-group-item.medium .value.sub {
    color: #363636;
    background: none;
    color: white;
}*/


.list-group-item.medium .value {
  color: #fff;
  text-shadow: 0px 2px 4px #000000;
}
.list-group-item.high {
/*color: #e74c3c;*/
/*  color: #FFF;
  color: #333;*/
    font-weight:700
}
.memory.medium {
 /* color: #FFF;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);*/
}

.memory.medium .ram {
  background: #FFF;
  padding: 0 5px;
}

.memory .percent-used.medium {

  background-size: 24px auto;
  color: #FFF;


}

.value {
    color:#999;
    color:#FFF
}

.load.value {
/*float: right;*/
    /*margin-left:5px*/
    padding-left: 2px;
    padding-right: 2px;
}

.panel {
    box-shadow:none;
    border-color:#434857;
    background:none
}

.list-item:hover {
/*      text-decoration: none;
    color: #cfd2da;*/
    /*background-color:#434857*/
}

.sub.value {
/*color: #999999;*/
/*   text-transform: uppercase;
   font-size: 12px;
   text-align: right;*/
    font-size:85%;
    letter-spacing:.15em;
    color:#a9aebd;
    text-transform:uppercase;
    width: 50px;
    text-align: right;
    display: inline-block;
}

.sub.value.cpus {
  width: auto;
}





/*.diskusage {
  width: 60px;
}*/

.list-group-item-danger {
    color:#a94442;
    color:#FFF;
/*background-color: #f2dede;*/
    -webkit-animation:flashing 2000ms infinite;
    -moz-animation:flashing 2000ms infinite;
    -o-animation:flashing 2000ms infinite;
    animation:flashing 2000ms infinite;
    animation-timing-function:ease-in-out
}

@keyframes flashing {
0% {
    background-color:#f84545;
    box-shadow:0 0 3px #f84545
}

50% {
    background-color:#c00;
    box-shadow:0 0 10px #c00
}

100% {
    background-color:#f84545;
    box-shadow:0 0 3px #f84545
}
}
