<html>
    <head>
        <title>Dashboard</title>
        <meta content="60" http-equiv="refresh">
        <link crossorigin="anonymous"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
              integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
              rel="stylesheet" />
        <style>
{% include "style.css" %}
        </style>
    </head>
    <body>
        {% if hosts %}
            <div class="container">
                <div class="columns">
                    {% for host in hosts %}

                    <div class="host">
                        <div class="panel">
                            <div class="head panel-heading host-row">
                                <h4>
                                    {{ host.hostname }}
                                    {% if host.location %}
                                        <span style="float: right;">[{{ host.location }}]</span>
                                    {% endif %}
                                </h4>
                                {% if host.network.ip %}<p>{{ host.network.ip }}</p>{% endif %}
                            </div>

                            {% if host.uptime %}
                            <div class="load host-row">
                                Load: {{ host.uptime }} ({{ host.nproc }} cpus)
                            </div>
                            {% endif %}

                            {% if host.memory %}
                            <div class="memory host-row">
                                Memory: {{ host.memory.used }} / {{ host.memory.total }}
                            </div>
                            {% endif %}

                            {% if host.network.rx %}
                            <div class="network host-row">
                                <p>Download: {{ host.network.rx }} kB/s</p>
                                <p>Upload: {{ host.network.tx }} kB/s</p>
                            </div>
                            {% endif %}

                            {% if host.disks %}
                            <div class="disks host-row">
                                Disks

                                {% for disk in host.disks %}
                                <div class="disk">
                                    {{ disk.mount }} : {{ disk.available }}kB / {{ disk.size }}kB
                                </div>
                                {% endfor %}

                            </div>
                            {% endif %}
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>No data yet</p>
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
        </script>
        <script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
        </script>

    </body>
</html>
