body {
    color: #555555;
    background-color: #f5f8fa;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 30px;
}

p {
    margin: 0px;
}

li {
    display: inline-block;
}

ul {
    margin: 0px;
}

.columns {
    margin: 0;
    -moz-column-width: 260px;
    -moz-column-fill: balance;
    -webkit-column-width: 260px;
    -webkit-column-fill: balance;
    column-width: 260px;
    column-fill: balance;
}

.host {
    width: 260px;
    vertical-align: top;

    /*  position: relative;
    min-height: 1px;*/
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.panel {
    z-index: -200;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    border-color: #d3e0e9;
    background-color:#ffffff;
}

.host-row:nth-child(even) {
    background-color: #eeeeee;
}

.host-row {
    padding: 0px 15px;
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
    white-space: nowrap;
}

.head {
    margin-bottom:0px;
    font-weight:400;
    border-color:#cccccc;
    text-transform:uppercase;
}

.head > p {
    margin-bottom: 5px;
}

.value {
    padding: 0px 2px;
}

.cpus {
    color: #a9aebd;
}
